In [12]:
import sqlite3 as sql

In [13]:
conn = sql.connect("advance_assessment.db")
print(dir(conn))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [4]:
# cur = data.cursor()

In [14]:
conn.execute("create table Manager(Sr_no int AUTO_INCREMNT PRIMARY KEY, Manager_Name varchar(25), Pharmacy_name varchar(25))")

In [15]:
conn.execute('''insert into Manager(Manager_Name, Pharmacy_name) values("Ramesh", "Jayraj pharmacy ")''')
conn.execute('''insert into Manager(Manager_Name, Pharmacy_name) values("Jayesh", "Tomato pharmacy ")''')
conn.commit()

In [16]:
conn.execute("create table Admin(Sr_no int AUTO_INCREMNT PRIMARY KEY, Email varchar(125), Password varchar(10))")

In [17]:
conn.execute('''insert into Admin(Email, Password) values("ramesh@mail.com", "123456789")''')
conn.execute('''insert into Admin(Email, Password) values("jayesh@mail.com", "12345678")''')
conn.commit()

In [24]:
conn.execute("create table Medicine(Sr_no int AUTO_INCREMNT PRIMARY KEY, Medicine_Name varchar(25), Qty TEXT , Added_date varchar(10), Added_By varchar(10), price int)")

OperationalError: table Medicine already exists

In [26]:
conn.execute('''insert into Medicine(Medicine_Name, Qty, Added_date, Added_By, price) values("Den_p", "10x10", "4/4/2022", "2", 20)''')
conn.execute('''insert into Medicine(Medicine_Name, Qty, Added_date, Added_By, price) values("Dolo", "10x10", "9/5/2022", "2", 20)''')
conn.execute('''insert into Medicine(Medicine_Name, Qty, Added_date, Added_By, price) values("OTD", "10x10", "5/6/2022", "2", 20)''')
conn.commit()

OperationalError: table Admin has no column named Medicine_Name

In [26]:
print('''1. Admin
2. Pharmacy Manager''')
Choose = int(input("Choose a number:"))

if Choose == 1:
    print('''1. Can Register 
    2. Can Login 
    3. Can Add Medicine 
    4. Can View Medicine 
    5. Can Delete Medicine 
    ''')

    num = int(input("select Your Option: "))
    if num == 1:
        pass
    elif num == 2:
        pass
    elif num == 3:
        pass
    elif num == 4:
        pass
    elif num == 5:
        pass
    else:
        print("Invalid Option")

elif Choose == 2:
    print('''1. Can Register 
    2. Can Login 
    3. Can View all manager
    4. Can View all medicine
    ''')
    
    num = int(input("select Your Option"))
    if num == 1:
        pass
    elif num == 2:
        pass
    elif num == 3:
        pass
    elif num == 4:
        pass
    else:
        print("Invalid Option")

else:
    print("Invelid Number")

1. Admin
2. Pharmacy Manager
1. Can Register
    2. Can Login
    3. Can Add Medicine
    4. Can View Medicine
    5. Can Delete Medicine

In [2]:
print("hello")

hello